.loading-text{
  margin-top: 5rem;
  text-align: center;
}

.country-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding: 2.5rem 5rem;
}

.search-container {
  display: flex;
  padding: 3.75rem 5rem;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {

  .country-cards-container {
    padding: 2.5rem;
  }

  .search-container {
    padding: 3.75rem 2.5rem;
  }
}

@media screen and (max-width: 600px) {

  .country-cards-container{
    gap: 3rem;
  }

  .search-container {
    flex-direction: column;
    padding: 3.75rem 1.5rem;
  }

}